*{
    margin:0px; 
    padding:0px;
    touch-action: pan-y;
    background-color: #161823;
}

.app{
    width: 650px; 
    height:640px; 
    position: absolute; 
    top:50px; 
    right:0px; 
    bottom: 0px; 
    left:0px; 
    overflow: hidden;
    margin:0 auto;
    background-color: #0E0F1A;
}

.bom{
    position: absolute; 
    top:730px; 
    right:0px; 
    bottom: 0px; 
    left:0px; 
    overflow: hidden;
    margin:0 auto;
    font-size:12px;
}

#player{
    width: 348px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    float:left;
    z-index: 100;
}

.box{
    width: 242px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #0E0F1A;
    float:left;
    font-size:12px;
}

.xhms {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
height:30px;
	line-height:30px;
width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #810e05;
}.xhms:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.xhms:active {
	position:relative;
	top:1px;
}

.zdlb {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
height:30px;
	line-height:30px;
width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #528009;
}.zdlb:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}.zdlb:active {
	position:relative;
	top:1px;
}

.pass {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
text-indent:0;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:40px;
	font-weight:bold;
	font-style:italic;
height:50px;
	line-height:50px;
width:190px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #ffffff;
}.pass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.pass:active {
	position:relative;
	top:1px;
}

#yuan{
  line-height:26px;
  height:26px;
  width:182px;
  color:#1b1919;
  background-color:#ededed;
  font-size:17px;
  font-weight:bold;
  font-family:Arial;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  border:3px solid #ffaa22;
  -webkit-border-top-left-radius:26px;
  -moz-border-radius-topleft:26px;
  border-top-left-radius:26px;
  -webkit-border-top-right-radius:26px;
  -moz-border-radius-topright:26px;
  border-top-right-radius:26px;
  -webkit-border-bottom-left-radius:26px;
  -moz-border-radius-bottomleft:26px;
  border-bottom-left-radius:26px;
  -webkit-border-bottom-right-radius:26px;
  -moz-border-radius-bottomright:26px;
  border-bottom-right-radius:26px;
  -moz-box-shadow: inset 0px 1px 20px -1px #fff6af;
  -webkit-box-shadow: inset 0px 1px 20px -1px #fff6af;
  box-shadow: inset 0px 1px 20px -1px #fff6af;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
#yuan:hover{
  background-color:#f5f5f5;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
}
/* login */
.login-header{width:100%;text-align:center;height:30px;font-size:24px;line-height:30px;background-color:#ffffff;}
.login{width:500px;position:fixed;border:#ebebeb solid 1px;top:50%;left:50%;display:none;background-color:#ffffff;box-shadow:0px 0px 20px #ddd;z-index:9999;margin-left:-250px;margin-top:-140px;}
.login-title{width:100%;margin:10px 0px 0px 0px;text-align:center;line-height:40px;height:40px;font-size:18px;position:relative;background-color:#ffffff;}
.login-title span{position:absolute;font-size:12px;right:-20px;top:-30px;border:#ebebeb solid 1px;width:40px;height:40px;border-radius:20px;background-color:#ffffff;}
.login-title span a{display:block;border-radius:20px;font-size:16px;background-color:#ffffff;}
.login strong{display:block;border-radius:20px;font-size:16px;background-color:#ffffff;}
.login span{display:block;border-radius:20px;font-size:14px;background-color:#ffffff;}
.login-input-content{margin-top:20px;background-color:#ffffff;}
.login-input {overflow:hidden;margin:0px 0px 20px 0px;background-color:#ffffff;}
.login-input label{float:left;width:90px;padding-right:10px;text-align:right;line-height:35px;height:35px;font-size:14px;background-color:#ffffff;}
.login-input input.list-input{float:left;line-height:35px;height:35px;width:350px;border:#ebebeb 1px solid;text-indent:5px;background-color:#ffffff;}
.login-button{width:50%;margin:30px auto 0px auto;line-height:40px;font-size:14px;border:#ebebeb 1px solid;text-align:center;background-color:#ffffff;}
.login-button a{display:block;background-color:#ffffff;}
.login-bg{width:100%;height:100%;position:fixed;top:0px;left:0px;background:#fff;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;display:none;}
